<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= t('activerecord.models.users.username') %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= t('common.email') %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= t('activerecord.models.users.password') %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= t('activerecord.models.users.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% if current_user.admin? %>
    <p>
    <%= t('activerecord.models.users.admin') %>
    <%= f.check_box :admin %>
    </p>
  <% end %>
  <p><%= f.submit t('common.submit') %></p>
<% end %>