<% title "Users"%>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= link_to "Edit", edit_user_path(user.id) %></td>
    <td><%= link_to "Delete", user, :confirm => 'Jeste li sigurni?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Novi user",new_user_path %>