<% title t('activerecord.models.users.plural') %>

<table>
  <tr>
    <th><%= t('activerecord.models.users.username')%></th>
    <th><%= t('activerecord.models.users.username')%></th>
    <th><%= t('activerecord.models.users.admin')%></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= link_to t('common.edit'), edit_user_path(user.id) %></td>
    <td><%= link_to t('common.delete'), user, :confirm => t('common.confirmation'), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to t('activerecord.models.users.new_user'),new_user_path %>