<%= form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= t('activerecord.models.events.title') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= t('activerecord.models.events.description') %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= t('common.date') %><br />
    <%= f.date_select :event_date %>
  </p>
  <p>
    <%= t('activerecord.models.events.price') %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= t('activerecord.models.events.currency') %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= t('activerecord.models.events.public') %><br/>
    <%= f.check_box :public %>
  </p>
  <p><%= f.submit t('common.submit') %></p>
<% end %>
