<div class="block">
  <div class="content">
<h2 class="title"><%= t('activerecord.models.events.plural') %></h2>
<div class ="inner">
<table class="table">
  <tr>
    <th class="first">ID</th>
    <th><%= t('activerecord.models.events.title') %></th>
    <th><%= t('activerecord.models.events.description') %></th>
    <th><%= t('common.date') %></th>
    <th><%= t('activerecord.models.events.price') %></th>
    <th><%= t('activerecord.models.events.currency') %></th>
    <th class="last"></th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.event_date %></td>
      <td><%= event.price %></td>
      <td><%= event.currency %></td>
      <td class="last"><%= link_to t('common.details'), event %> | 
      <%= link_to t('common.edit'), edit_event_path(event) %> | 
      <%= link_to t('common.delete'), event, :confirm => t('common.confirmation'), :method => :delete %> | 
      <%= link_to t('common.send_mail'), events_notify_path(event), :confirm => t('common.confirmation') %>
    </td>
    </tr>
  <% end %>
</table>
<div class="actions-bar wat-cf">
<div class="actions">
  <%= button_to t('activerecord.models.events.new_event'), new_event_path, :method => :get %>
</div>
<div class="pagination">
  <%= will_paginate @events, :previous_label => t("previous"), :next_label => t("next") %>
</div>
</div>
</div>
</div>
</div>
