<% title "Svirke" %>

<table>
  <tr>
    <th>Naziv</th>
    <th>Opis</th>
    <th>Datum</th>
    <th>Cijena</th>
    <th>Valuta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.event_date %></td>
      <td><%= event.price %></td>
      <td><%= event.currency %></td>
      <td><%= link_to "Detalji", event %></td>
      <td><%= link_to "Uredi", edit_event_path(event) %></td>
      <td><%= link_to "Obriši", event, :confirm => 'Jeste li sigurni?', :method => :delete %></td>
      <td><%= link_to "Pošalji mail", events_notify_path(event), :confirm => 'Jeste li sigurni?' %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @events %>
<p><%= link_to "Nova svirka", new_event_path %></p>