<% title "Svirka" %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Event Date:</strong>
  <%= @event.event_date %>
</p>
<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @event.currency %>
</p>

<p>
  <%= link_to "Uredi", edit_event_path(@event) %> |
  <%= link_to "Obriši", @event, :confirm => 'Jeste li sigurni?', :method => :delete %> |
  <%= link_to "Popis svirki", events_path %>
</p>
