<% title t('activerecord.models.events.singular') %>

<p>
  <strong><%= t('activerecord.models.events.title') %>:</strong>
  <%= @event.name %>
</p>
<p>
  <strong><%= t('activerecord.models.events.description') %>:</strong>
  <%= @event.description %>
</p>
<p>
  <strong><%= t('common.date') %>:</strong>
  <%= @event.event_date %>
</p>
<p>
  <strong><%= t('activerecord.models.events.price') %>:</strong>
  <%= @event.price %>
</p>
<p>
  <strong><%= t('activerecord.models.events.price') %>:</strong>
  <%= @event.currency %>
</p>

<p>
  <%= link_to t('common.edit'), edit_event_path(@event) %> |
  <%= link_to t('common.delete'), @event, :confirm => t('common.confirmation'), :method => :delete %> |
  <%= link_to t('activerecord.models.events.list'), events_path %>
</p>
