<div class="toolbar">
<h1><%= t('activerecord.models.user_sessions.login') %></h1>
</div>
<body class="landscape">
<%= form_for :user_session, :url => { :action => "create" } do |f| %>
<ul class="edit rounded">
  <li><%= t('activerecord.models.users.username') %></li>
<li><%= f.text_field :username %></li><br />
<li><%= t('activerecord.models.users.password') %></li>
<li><%= f.password_field :password %></li><br />
</ul>
<%= f.submit t('activerecord.models.user_sessions.login'), :class => "submit whiteButton" %>


<% end %>
</body>