<% title t('activerecord.models.user_sessions.login') %>

<% form_for :user_session, @user_session, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
  <%= t('activerecord.models.users.username') %><br />
  <%= f.text_field :username %>
  </p>
  <p>
  <%= t('activerecord.models.users.password') %><br />
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.check_box :remember_me %><%= t('activerecord.models.user_sessions.remember_me') %>
  </p>
  <p>
  <%= f.submit t('activerecord.models.user_sessions.login') %> 
  </p>
<% end %>    
