<%= form_for @member do |f| %>
<p>
    <%= t('activerecord.models.members.first_name') %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= t('activerecord.models.members.last_name') %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= t('common.email') %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit t('common.submit') %></p>
<% end %>
