<% title t('activerecord.models.members.plural') %>

<table>
  <tr>
  <th><%= t('activerecord.models.members.first_name') %></th>
    <th><%= t('activerecord.models.members.last_name') %></th>
    <th><%= t('common.email') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for member in @members %>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
      <td><%= member.email %></td>
      <td><%= link_to t('common.details'), member %></td>
      <td><%= link_to t('common.edit'), edit_member_path(member) %></td>
      <td><%= link_to t('common.delete'), member, :method => :delete, :confirm => t('common.confirmation') %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('activerecord.models.members.new_member'), new_member_path %></p>
