<% title "Member" %>

<p>
  <strong>First Name:</strong>
  <%= @member.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @member.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <%= link_to "Uredi", edit_member_path(@member) %> |
  <%= link_to "Obriši", @member, :confirm => 'Jeste li sigurni?', :method => :delete %> |
  <%= link_to "Popis članova", members_path %>
</p>
